################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
# Ignore appsettings for development
appsettings.Development.json
# Ignore appsettings for development
appsettings.json
